<div id="sets-layout" class="col_{{ settings.albums_cols }}">

	<koken:loop>

		<div class="item">

			<koken:link>

				<koken:if data="{{ settings.img_scale }}" equals="uniform">

					<koken:img lazy="true" size="{{ settings.thumb_ratio }}" />

				</koken:if>

				<koken:if data="{{ settings.img_scale }}" equals="none">

					<koken:img lazy="true" />

				</koken:if>

			</koken:link>

			<koken:if true="settings.show_albums_album_title"><h2><koken:link>{{ album.title }}</koken:link></h2></koken:if>

			<koken:if true="settings.show_albums_album_summary"><p>{{ album.summary }}</p></koken:if>
		</div>

	</koken:loop>

</div>